<h2><i class="fas fa-edit me-2"></i>Edit <%= @task.title %></h2>

<div class="card">
  <div class="card-body">
    <%= form_with model: @task do |f| %>
      <div class="mb-3">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      
      <div class="mb-3">
        <%= f.label :details %>
        <%= f.text_area :details, class: "form-control", rows: 3 %>
      </div>
      
      <div class="mb-3">
        <div class="form-check">
          <%= f.check_box :completed, class: "form-check-input" %>
          <%= f.label :completed, "Mark as completed" %>
        </div>
      </div>
      
      <%= f.submit "Update Task", class: "btn btn-primary" %>
      <%= link_to task_path(@task), class: "btn btn-secondary" do %>
        <i class="fas fa-times me-2"></i>Cancel
      <% end %>
    <% end %>
  </div>
</div>
