<h1><i class="fas fa-eye me-2"></i><%= @task.title %></h1>

<div class="card mb-3">
  <div class="card-body">
    <h5>Details:</h5>
    <p><%= @task.details %></p>
    
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="task_completed" <%= 'checked' if @task.completed %> disabled>
      <label class="form-check-label" for="task_completed">
        <% if @task.completed %>
          Completed
        <% else %>
          Not completed yet
        <% end %>
      </label>
    </div>
  </div>
</div>

<%= link_to tasks_path, class: "btn btn-secondary" do %>
  <i class="fas fa-arrow-left me-2"></i>Back to list
<% end %>
<%= link_to edit_task_path(@task), class: "btn btn-primary" do %>
  <i class="fas fa-edit me-2"></i>Edit this task
<% end %>
